@CHARSET "UTF-8";

@media screen {
	body {
		width: 800px !important;
		padding: 5px;
		border: 1px solid gray;
		border-radius: 10px;
	}
	.menu td {
		margin: 0px;
		padding: 5px 10px;
		border: 1px solid gray;
	}
	.menu td.left {
		border-bottom-left-radius: 10px;
	}
	.notenTabelle {
		border: 0px;
	}
	.notenTabelle td {
		border: 1px solid black;
		border-radius: 2px;
	}
	.notenTabelle td,th {
		padding: 4px;
	}
	td .editorField {
		test-align: left !important;
	}
	td input {
		text-align: right;
		padding-right: 3px;
	}
	.notenInputField {
		text-align: right;
		padding-right: 3px;
	}
	.changeNote {
		width: 65px;
	}
	.errorMessage {
		font-size: small;
		color: red;
	}
	.fieldErrorCls {
		border: 1px solid red;
		background-color: #fdd;
	}
	.actionMessage {
		font-size: small;
		color: red;
		list-style: none !important;
	}
	.actionMessgage li {
		display: block !important;
		list-style: none !important;
		font-size: small;
		color: red;
	}

	/* Toggle Panel Css Start */
	.collapsibleTable {
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		border: 1px solid darkgray;
	}
	.collapsibleTable .c-header {
		background-color: gray;
		color: white;
		border: 1px solid darkgray;
	}
	.collapsibleTable .c-content {
		border: 1px solid darkgray;
	}
	.collapsed {
		display: none;
	}
	.expanded {
		display: block;
	}
	.collapsibleTable td {
		padding: 3px;
		margin: 0px;
	}

	/* Toggle Panel Css Ende */
}

@media print , screen {
	.uebersichtHeader {
		font-weight: bold;
		font-size: medium;
	}
	.protokollTable td.protokollField {
		padding: 2px;
	}
	.protokollError {
		color: darkred;
		font-size: small;
	}
	.protokollMessage {
		color: black;
		font-size: small;
	}
	.linkButton {
		font: bold 11px Arial;
		text-decoration: none;
		background-color: #EEEEEE;
		color: #333333;
		padding: 2px 6px 2px 6px;
		border-top: 1px solid #CCCCCC;
		border-right: 1px solid #333333;
		border-bottom: 1px solid #333333;
		border-left: 1px solid #CCCCCC;
		border-radius: 5px;
	}
}

@media print {
	.printable {
		display: block;
	}
	.header {
		display: none;
	}
	.dontPrint {
		display: none !important;
	}
}