@CHARSET "UTF-8";
/* Author: Ibrahim Karagac, Christopher Biel */
@media screen { /* body {
		width: 800px !important;
		padding: 5px;
		border: 1px solid gray;
		border-radius: 10px;
	} */
	/* Anordnung der Webseite */
	body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px !important;
		font-weight: normal;
		background-image: url(../images/hintergrund.png);
	}
	#header {
		width: 720px;
		height: 180px;
		background-image: url(../images/hintergrund.png);
		margin: auto;
		/* float: left; */
	}
	#hauptmenue_button {
		width: 105px;
		background-image: url(../images/hauptmenue_button.png);
		height: 37px;
		margin-top: 143px;
		float: left;
	}
	#manipel_button {
		width: 144px;
		background-image: url(../images/manipel_button.png);
		height: 37px;
		margin-left: 10px;
		margin-top: 143px;
		float: left;
	}
	#kasten_titel {
		width: 719px;
		height: 64px;
		background-image: url(../images/kasten_titel.png);
		margin-top: 15px;
		float: left;
	}
	#kasten_inhalt {
		width: 719px;
		height: auto;
		background-image: url(../images/inhalt.png);
		background-repeat: repeat-y;
		float: left;
	}
	#kasten_boden {
		width: 719px;
		height: 78px;
		background-image: url(../images/kasten_boden.png);
		float: left;
	}
	#inhalt {
		padding-left: 20px;
		height: auto;
		width: 680px;
	}

	/* Hover effekt */
	#hautpmenueschrift {
		width: 215px;
		height: 50px;
		background-image: url(../images/hauptmenue.png);
	}
	#navileiste {
		width: 400px;
		height: auto;
		float: left;
	}
	#link_pruefungAnlegen {
		background-image: url(../images/peintragen.png);
		width: 215px;
		height: 28px;
		background-repeat: no-repeat;
		float: left;
	}
	#link_writtenExams {
		background-image: url(../images/leistung_eintr.png);
		width: 215px;
		height: 32px;
		float: left;
		margin-right: 5px;
	}
	#link_oralExams {
		background-image: url(../images/ergaenzungs.png);
		width: 215px;
		height: 31px;
		float: left;
	}
	#link_editExams {
		background-image: url(../images/paendern.png);
		width: 215px;
		height: 30px;
		float: left;
	}
	#link_overview {
		background-image: url(../images/uebersicht.png);
		width: 215px;
		height: 30px;
		float: left;
	}
	#link_history {
		background-image: url(../images/historie.png);
		width: 215px;
		height: 31px;
		float: left;
	}
	#link_pruefungAnlegen:hover {
		background-image: url(../images/peintragen_blau.png);
		width: 215px;
		height: 28px;
	}
	#link_writtenExams:hover {
		background-image: url(../images/leistung_eintr_blau.png);
		width: 215px;
		height: 32px;
	}
	#link_oralExams:hover {
		background-image: url(../images/ergaenzungs_blau.png);
		width: 215px;
		height: 31px;
	}
	#link_editExams:hover {
		background-image: url(../images/paendern_blau.png);
		width: 215px;
		height: 30px;
	}
	#link_overview:hover {
		background-image: url(../images/uebersicht_blau.png);
		width: 215px;
		height: 30px;
	}
	#link_history:hover {
		background-image: url(../images/historie_blau.png);
		width: 215px;
		height: 31px;
	}
	#hauptmenue_button:hover {
		width: 105px;
		background-image: url(../images/hauptmenue_button_blau.png);
		height: 37px;
		margin-top: 143px;
		float: left;
	}
	#manipel_button:hover {
		width: 144px;
		background-image: url(../images/manipel_button_blau.png);
		height: 37px;
		margin-left: 10px;
		margin-top: 143px;
		float: left;
	}
	.menu td {
		margin: 0px;
		padding: 5px 10px;
		border: 1px solid gray;
	}
	.menu td.left {
		border-bottom-left-radius: 10px;
	}
	.notenTabelle {
		border: 0px;
	}
	.notenTabelle td {
		border: 1px solid black;
		border-radius: 2px;
	}
	.notenTabelle td,th {
		padding: 4px;
	}
	.notenTabelle td.deleted input {
		text-decoration: line-through;
	}
	td .editorField {
		test-align: left !important;
	}
	td input {
		text-align: right;
		padding-right: 3px;
	}
	.notenInputField {
		text-align: right;
		padding-right: 3px;
	}
	.changeNote {
		width: 65px;
	}
	.errorMessage {
		font-size: small;
		color: red;
	}
	.fieldErrorCls {
		border: 1px solid red;
		background-color: #fdd;
	}
	.actionMessage {
		font-size: small;
		color: red;
		list-style: none !important;
	}
	.actionMessgage li {
		display: block !important;
		list-style: none !important;
		font-size: small;
		color: red;
	}
	.collapsibleTable {
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		border: 1px solid darkgray;
	}
	.collapsibleTable .c-header {
		background-color: gray;
		color: white;
		border: 1px solid darkgray;
	}
	.collapsibleTable .c-content {
		border: 1px solid darkgray;
	}
	.collapsed {
		display: none;
	}
	.expanded {
		display: block;
	}
	.collapsibleTable td {
		padding: 3px;
		margin: 0px;
	}
}

@media print , screen {
	.protokollTable td.protokollField {
		padding: 2px;
	}
	.protokollError {
		color: darkred;
		font-size: small;
	}
	.protokollMessage {
		color: black;
		font-size: small;
	}
	.linkButton {
		font: bold 11px Arial;
		text-decoration: none;
		background-color: #EEEEEE;
		color: #333333;
		padding: 2px 6px 2px 6px;
		border-top: 1px solid #CCCCCC;
		border-right: 1px solid #333333;
		border-bottom: 1px solid #333333;
		border-left: 1px solid #CCCCCC;
		border-radius: 5px;
	}
}

@media print {
	.printable {
		display: block;
	}
	.header {
		display: none;
	}
	.dontPrint {
		display: none !important;
	}
}